@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@media (width >= 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .grid .card {
    display: flex;
    flex-direction: row !important;
  }
  .grid .card .card-img img {
    width: 100%;
    height: 40dvh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
main {
  max-width: 1240px;
  margin: auto;
}
main .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .menu h2 {
  text-align: center;
  margin: 5dvh 5dvh;
}
main .menu .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3dvh;
}
main .menu .grid .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  border-radius: 2dvh;
  overflow: hidden;
  height: 40dvh;
}
main .menu .grid .card div {
  flex: 1;
}
main .menu .grid .card .card-img img {
  filter: brightness(50%);
  transition: transform 1s;
}
main .menu .grid .card .card-img img:hover {
  transform: scale(1.1);
}
main .menu .grid .card .card-body {
  margin-left: 3dvh;
  text-align: center;
}
main .menu .grid .card .card-body .card-title {
  font-weight: 600;
  color: #FF0000;
  margin-top: 2dvh;
  margin-bottom: 2dvh;
}
main .menu .grid .card .card-body .card-description {
  line-height: 1.5rem;
  margin-top: 3dvh;
}
main .menu .grid .card .card-body .card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3dvh;
}
main .menu .grid .card .card-body .card-info .card-price {
  color: #FF0000;
  font-weight: 600;
}
main .menu .grid .card .card-body .card-info .add-to-cart-btn {
  border: none;
  border-radius: 2dvh;
  margin-right: 2dvh;
  background-color: #000000;
  color: #FFFFFF;
  width: 7dvh;
  height: 7dvh;
  transition: background-color 1s;
}
main .menu .grid .card .card-body .card-info .add-to-cart-btn:hover {
  background-color: #FFD700;
}
main .cart-modal-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2dvh;
}
main .cart-modal-button #cart-btn {
  width: 40dvh;
  height: 5dvh;
  border: 1px solid;
  border-radius: 2dvh;
  background-color: #FF0000;
  color: #FFFFFF;
  transition: background-color 1s;
}
main .cart-modal-button #cart-btn span {
  color: #FFFFFF;
}
main .cart-modal-button #cart-btn:hover {
  background-color: #FFD700;
}
main .fullscreen {
  position: fixed;
  z-index: 20;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
main .fullscreen .carrinho {
  background-color: #FFFFFF;
  min-width: 90%;
  border-radius: 2dvh;
  text-align: center;
  font-weight: bold;
  margin: 1dvh 1dvh;
}
main .fullscreen .carrinho h2 {
  margin-top: 1dvh;
}
main .fullscreen .carrinho #cart-items-container {
  display: flex;
  flex-direction: column;
}
main .fullscreen .carrinho .cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1dvh 1dvh;
}
main .fullscreen .carrinho .cart-item .remove-from-cart-btn {
  border: none;
  transition: border 0.9s;
  background-color: transparent;
  transition: color 1s;
  color: #FF0000;
}
main .fullscreen .carrinho .cart-item .remove-from-cart-btn:hover {
  color: #FFD700;
}
main .fullscreen .carrinho p {
  font-weight: bold;
}
main .fullscreen .carrinho #address {
  width: 90%;
  padding: 1dvh 1dvh;
  border: none;
  border-radius: 1dvh;
}
main .fullscreen .carrinho #address-warn {
  color: rgb(201, 62, 62);
  font-weight: 500;
  display: none;
}
main .fullscreen .carrinho div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1dvh;
  gap: 3dvh;
}
main .fullscreen .carrinho div .close-modal-btn {
  border: none;
  transition: color 1s;
  color: #FF0000;
  background-color: transparent;
}
main .fullscreen .carrinho div .close-modal-btn:hover {
  color: #FFD700;
}
main .fullscreen .carrinho div .checkout-btn {
  background-color: transparent;
  color: #FF0000;
  padding: 1dvh 1dvh;
  border: none;
  transition: color 1s;
}
main .fullscreen .carrinho div .checkout-btn:hover {
  color: #FFD700;
}/*# sourceMappingURL=cardapio.component.css.map */