<main>
    <section class="about">
        <div class="our-history">
            <h2>Nossa História</h2>
            <p>Em 2015, no fundo do quintal de sua casa, o chef Carlos "Kako" Oliveira começou a fazer hambúrgueres artesanais para amigos. Com receitas de família e um toque de ousadia, ele criou o "Toca do Burguer" – um segredo que logo virou febre no bairro.

                De festas de domingo a um food truck (2018), e finalmente para uma loja física em 2021, a Toca conquistou a cidade com:
                
                Pães caseiros assados diariamente.
                
                Carnes selecionadas (blend da casa 80/20).
                
                Combos criativos (como o "Monstro do Tio Kako", com 3 carnes e queijo derretido).
                
                Hoje, somos família – dos clientes que viraram amigos aos entregadores que sabem o pedido de cor.</p>
        </div>
        <div class="img">
            <img src="/restaurant.webp" alt="" loading="lazy">
        </div>
    </section>
    <section class="menu">
        <h2>Conheça Nosso Cardápio</h2>
        <div class="grid">
            <div class="card">
                <div class="card-img">
                    <img src="/picanhaburger.webp" alt="picanha burger" loading="lazy">
                </div>
                <div class="card-body">
                    <span class="card-title">Picanha Burger</span>
                    <p class="card-description">Pão levinho de fermentação natural, burger 160g, queijo prato, maionese da casa, alface, tomate, cebola caramelizada.</p>
                    <div class="card-info">
                        <p class="card-price">R$ 50.00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/cheeseburger.webp" alt="cheeseburger" loading="lazy">
                </div>
                <div class="card-body">
                    <span class="card-title">Cheese Burger</span>
                    <p class="card-description">Pão levinho de fermentação natural, burger 160g, queijo prato, maionese da casa, alface, tomate, cebola caramelizada.</p>
                    <div class="card-info">
                        <p class="card-price">R$ 40.00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <button class="menu-btn"><a href="/cardapio">Veja Nosso Cardápio</a></button>
    </section>
    <section class="location">
        <h2>Venha Nos Conhecer</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.6777886461514!2d-46.562530599999995!3d-23.687478100000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4353fea4c1a9%3A0xff3b58ed38024100!2sCileide%20Lanfredi%20-%20Hair%20Studio!5e0!3m2!1spt-BR!2sbr!4v1746052081926!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>
